<div id="<%= table.hyphenName %>" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/<%= table.hyphenName %>-table'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        <%= table.caption %> - {{current.id}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Új <%= table.caption %>
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Kérem rögzítse fel az adatait</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-actor-button"
                    [disabled]="form.invalid"
                    *ngIf="pageType ==='new'" (click)="addRecord()">
                <span>LÉTREHOZÁS</span>
            </button>

            <button mat-raised-button
                    class="save-actor-button"
                    [disabled]="form.invalid || form.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveRecord()">
                <span>MENTÉS</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="form" [formGroup]="form" class="actor w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Adatok">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">account_circle</mat-icon>
                                    <div class="h2 secondary-text">Adatok</div>
                                </div>
								<% table.columns.forEach((column) => { %>
									<% if (!column.type.startsWith('relation') 
										&& column.name != 'id' && column.edit
										) { %>
<%- include('fields/'+column.edit+'.html.ejs', {column: column}); %>
									<% } %>
								<% }); %>
                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
